[Unit]
Description=Docker Compose for vtk-mcp-server-compose.yml
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/var/opt/vtk-mcp-server
ExecStartPre=/usr/bin/docker compose -f ./vtk-mcp-server-compose.yml pull --ignore-pull-failures
ExecStart=/usr/bin/docker compose -f ./vtk-mcp-server-compose.yml up -d --build
ExecStop=/usr/bin/docker compose -f ./vtk-mcp-server-compose.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
